@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    position: relative;
    background: #F2F2F2;
}
p{
    font-size: 18px;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.row1{
    justify-content: space-between;
}
.row2{
    align-items: flex-start !important;
}
.nav0{
    width: 563px;
}
.nav0 img{
    width: 100%;
}
.nav1{
    margin: 0px 20px;
}
.btn{
    border-radius: 5px;
    padding: 11px 32px;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 10;
}
.btn1{
    background: #51B848;
    color: white;
}
.layer{
    position: absolute;
    right: 0;
    top: 0;
}
.nav2 p{
    margin-right: 10px;
}
.nav01{
    z-index: 10;
}
.home{
    background: #F2F2F2;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 3rem;
}
.home-mid{
    justify-content: center;
}
.home1{
    width: 90%;
}
.home11{
    width: 53%;
}
.home12{
    width: 53%;
}
.home12 img{
    width: 100%;
}
.home11 p{
    margin-top: 1rem;
    font-size: 27px;
    color: rgba(49, 49, 49, 0.71);;
    margin-bottom: 2.3rem;
}
.contact-btn{
    margin-right: 15px;
    padding: 14px 55px;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
}
.home11 h1{
    font-size: 96px;
    color: #414141;
}
.green{
    color: #51B848 !important;
}
a{
    color: black;
}
.ladder{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}
.ladder-fig{
    position: absolute;
    left: 0;
}
.ladder1{
    z-index: 10;
    text-align: center;
    width: 90%;
}
.ladh3{
    margin-top: 0.2rem;
    margin-bottom: 1.5rem;
}
.ladder01{
    position: relative;
}
.ladder11{
    position: absolute;
    bottom: -15px;
    right: 10px;
}
.p1{
    font-size: 27px;
    color: #414141;
}
.h3{
    font-size: 32px;
    color: #414141;
}
.ladder12{
    background: #17205B;
    border-radius: 20px;
}
.ladder121{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5rem 2.5rem;
}
.ld-line{
    height: 4px;
    width: 70px;
    background-color: #51B848;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ld-box{
    border-radius: 42px;
    border: 4px solid #51B848;
    height: 170px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    color: white;
}
.ld-box1 h3{
    font-size: 36px !important;
    margin-bottom: 7px;
}
.fields{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    width: 100%;
}
.fields1{
    width: 90%;
}
.text-center{
    text-align: center;
}
.fi-card{
    z-index: 10;
    box-shadow: 0px 17px 63px -12px #969F95;
    width: 28%;
    position: relative;
    padding: 2rem;
    background-color: #FEFFFE;
    border-radius: 22px;
    margin: 3.5rem 2rem;
}
.fi-card-img{
    position: absolute;
    bottom: 240px;
    left: 45px;
    border-radius: 22px;
    background: #51B848;
    box-shadow: 4px 7px 7px -3px rgba(66, 60, 60, 0.5);
    width: 80%;
    margin: auto;
    height: 166px;
}
.fi-card-img h4{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}
.fi-card-img img{
    height: 100%;
    width: 100%;
}
.h4{
    font-size: 32px;
}
.fi-card-mid{
    padding-top: 100px;
    margin: 20px 0px;
}
.fi-card-mid p{
    font-size: 15px !important;
}
.fields12{
    z-index: 10;
    position: relative;
}
.fields121{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2.8rem;
}
.fi-card-bottom img{
    margin-right: 4px;
}
.fi-card-bottom a{
    color: #51B848;
}
.fields-fig{
    position: absolute;
    right: 0;
    top: 0;
}
.learn_more{
    text-align: center;
}
.learn_more btn{
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
}
.usp{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    width: 100%;
}
.usp1{
    width: 90%;
}
.h1{
    font-size: 64px;
    color: #414141;
}
.usp011{
    position: relative;
}
.usp-fig{
    position: absolute;
}
.usp210{
    width: 50%;
}
.usp210 img{
    width: 100%;
}
.usp12{
    margin-right: 75px;
    position: relative;
}
.usp-line{
    position: absolute;
    top: 48px;
    margin-right: 15px;
    left: 20px;
}
.usp-imgs{
    display: flex;
    z-index: 10;
    flex-direction: column;
    align-items: center;
}
.usp-img{
    background: #AEC2FD;
    border-radius: 50%;
    height: 2.7rem;
    width: 2.9rem;
    padding: 5px;
    z-index: 10;
    margin: 32px 0px;
}
.usp-img img{
    width: 100%;
    height: 100%;
}
.usp211 h3{
    font-size: 26px !important;
}
.usp211{
    margin: 4rem 0rem;
}
.usp012{
    z-index: 10;
}
.yb{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    width: 100%;
}
.yb1{
    width: 90%;
    position: relative;
}
.yb11{
    background-color: #282828;
    border-radius: 29px;
    padding: 2rem;
    color: white;
    /* z-index: 1; */
}
.yb12{
    top: -32px;
    right: 38.5rem;
    position: absolute;
}
.yb121{
    top: -50px;
    position: absolute;
}
.yb122{
    position: absolute;
}
.yb11 p{
    margin-top: 10px;
}
.yb11 h3{
    color: white !important;
}
.yb111{
    width: 40%;
}
.people{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(84.85deg, #C23084 -2.78%, rgba(194, 48, 132, 0) 95.64%), linear-gradient(249.52deg, #505AD4 18.85%, rgba(80, 90, 212, 0) 125.37%);
}
.people1{
    position: relative;
}
.people h1{
    color: white;
    font-size: 60px;
}
.people-img{
    margin-left: 2rem;
}
.yb{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    width: 100%;
}
.yb1{
    width: 90%;
    position: relative;
}
.question{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    width: 100%;
}
.question1{
    width: 90%;
    position: relative;
    background-color: #D96187;
    border-radius: 29px;
}
.question1 .row{
    justify-content: space-between;
}
.question11{
    margin-left: 10rem;
    text-align: center;
}
.question11 h3{
    color: white;
    font-size: 40px;
}
.question11 h1{
    color: white;
    font-size: 60px;
}
.question13{
    padding: 85px 7rem;
    border-radius: 29px;
    background-color: #F2D7D5;
    height: 100%;
}
.foot{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    width: 100%;
}
.foot20{
    width: 100%;
}
.foot10{
    width: 100%;
}
.foot1{
    width: 80%;
    position: relative;
}
.foot11 p{
    margin-bottom: 5rem;
}
.icons1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    border-radius: 5px;
    margin-right: 15px;
    background-color: #F2F2F2;
}
.foot_a{
    margin-bottom: 2rem;   
}
.foot_a a{
    text-decoration: none;
}
.foot10 h5{
    margin-bottom: 2.6rem;
    font-size: 20px !important;
}
.inp{
    margin-bottom: 2rem;
    position: relative;
}
.inp input{
    border: none;
    outline: none;
    background-color: #F2F2F2;
    padding: 13px 20px;
    border-radius: 4px;
}
.inp img{
    position: absolute;
    right: 12px;
    top: 13px;
}
.foot3{
    border-top: 1px solid #EDEDED;
    text-align: center;
    padding: 1rem 0rem;
}
.foot02{
    padding-bottom: 1rem;
}
.foot4{
    position: absolute;
    right: -130px;
    top: -175px;
}

.navbtn{
    display: none;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 14px;
    right: 18px;
}
.navbtn svg{
    width: 100%;
    height: 100%;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999 !important;
    top: 0;
    right: 0;
    background-color: rgb(75, 75, 75);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #bfbfbf;
    display: block;
    transition: 0.3s;
}
.sdi{
    margin-top: 1rem;
}
.sdi button{
    margin-left: 32px;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: -10px;
    right: 25px;
    font-size: 60px;
    margin-left: 50px;
}
.course-main{
    background: url('../public/static/images/Rectangle 1267.png') no-repeat center center/cover;
    height: 70vh;
    display: flex;
    align-items: center;
}
.course-main h1{
    color: white;
}
.course-main p{
    color: white;
}
.btn2{
    background: transparent !important;
    border: 2px solid white;
    border-radius: 40px;
    color: white;
}
.course-main .home-mid{
    justify-content: start;
}
.course2{
    display: flex;
    justify-content: center;
}
.course21{
    width: 80%;
}
.courses211{
    margin-bottom: 2rem;
}
.courses211 h4{
    font-size: 28px;
}
.course0{
    justify-content: space-between;
}
.course0 h3{
    font-size: 36px;
}
.course-card1{
    position: relative;
}
.course-card-text{
    position: absolute;
    bottom: -70px;
    left: 19px;
    width: 92%;
    background-color: white;
    color: black;
    box-shadow: -1px -6px 9px rgba(0, 0, 0, 0.25), 0px 8px 18px rgba(0, 0, 0, 0.12);
    padding: 2rem;
    border-radius: 30px;
}
.course-card{
    width: 29vw;
    height: 55vh;
}
.course-card1{
    text-align: center;
}
.course-card-text1 h5{
    font-size: 20px;
    margin-bottom: 1rem;
}
.course-card-text11{
    margin-bottom: 0.6rem;
    justify-content: start;
}
.course-card-text01{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course-card-text01 img{
    margin-right: 15px;
}
.course-card-text1 .btn{
    margin-bottom: 1rem;
    border-radius: 40px;
}
.course-card-text1 a{
    font-weight: bold;
}
.splide__arrow{
    background: none !important;
}
.splide__arrow--prev {
    left: -2em !important;
    opacity: 1 !important;
}
.splide__arrow--next {
    right: -2em !important;
    opacity: 1 !important;
}
.course3{
    background-color: #363940;
    height: 291px;
    margin-top: 2rem;
}
.course31{
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
}
.course311{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.course311 h1{
    font-size: 64px;
    color: white;
}
.course312{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #51B848;
    border-top-left-radius: 54px;
    border-bottom-left-radius: 54px;
    padding-left: 3rem;
    height: 100%;
    padding-right: 2rem;
}
.btn3{
    background: transparent;
    border: 1px solid #363940;
    filter: drop-shadow(0px 100px 80px rgba(49, 49, 49, 0.1)) drop-shadow(0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259)) drop-shadow(0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407)) drop-shadow(0px 20px 13px rgba(49, 49, 49, 0.05)) drop-shadow(0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593)) drop-shadow(0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741));
    border-radius: 22px;
    font-size: 32px;
    padding: 25px 50px;
}
.course-card-img{
    width: 100%;
}
.course-card-img img{
    width: 100%;
}

@media screen and (max-width:1380px) {
    .nav0{
        width: 450px;
    }
    p{
        font-size: 16px;
    }
    .home11 h1{
        font-size: 80px;
    }
    .fi-card-img{
        bottom: 270px;
        left: 32px;
    }
    .fi-card{
        width: 30%;
        margin: 3rem 1rem;
    }
    .course-card-text{
        left: 15px;
        bottom: -100px;
    }
}
@media screen and (max-width:1250px) {
    .fi-card-img{
        bottom: 72%;
        left: 32px;
    }
    .home11 h1{
        font-size: 70px;
    }
    .home11 p{
        font-size: 24px;
    }
    .people h1{
        font-size: 50px;
    }
    .question13{
        padding: 0;
        height: 14rem;
        width: 38vmin;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .foot4{
        right: -39px;
    }
    .nav0{
        width: 450px;
    }
    .nav1{
        margin: 0px 10px;
    }
    p{
        font-size: 15px;
    }
    .btn{
        padding: 10px 28px;
    }
    .foot1{
        width: 90%;
    }
    .course-card-text{
        bottom: -140px;
    }
    .splide__arrow{
        top: 40% !important;
    }
    .course311{
        width: 65%;
    }
    .course312{
        width: 35%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media screen and (max-width:1170px) {
    .yb111{
        width: 35%;
    }
    .question11{
        margin-left: 5rem;
    }
}
@media screen and (max-width:1100px) {
    .nav0{
        width: 400px;
    }
    p{
        font-size: 14px;
    }
    .foot1{
        width: 95%;
    }
    .foot4{
        top: -135px;
        right: -8px;
    }
    .question11 h1{
        font-size: 50px;
    }
    .question11 h3{
        font-size: 35px;
    }
    .people h1{
        font-size: 43px;
    }
    .fi-card{
        width: 40%;
        margin: 3rem 2rem;
    }
    .usp211 h3 {
        font-size: 22px !important;
    }
    .usp2101{
        width: 50%;
    }
    .yb12{
        top: -32px;
        right: 29.5rem;
    }
    .yb111{
        width: 45%;
    }
    .yb121{
        top: -47px;
        left: 10px;
    }
    .yb121 img{
        width: 25rem;
        height: 28rem;
    }
    .yb122 img{
        width: 28rem;
        height: 22rem;
    }
    .question13{
        width: 32vmin;
        height: 11rem;
    }
    .question12{
        width: 30vmin;
    }
    .question12 img{
        width: 100%;
    }
    .foot11{
        width: 23rem;
    }
    .course-card-text{
        padding: 1rem;
        bottom: -150px;
        left: 12px;
    }
    .course-card{
        height: 50vh;
    }
    .course311 h1{
        font-size: 50px;
    }
    .course312{
        width: 35%;
    }
    .btn3{
        font-size: 20px;
    }
}
@media screen and (max-width:900px) {
    .navbtn{
        display: block;
    }
    .mainNav{
        display: none;
    }
    .home .row{
        flex-direction: column-reverse;
    }
    .home12{
        width: 80%;
    }
    .home11{
        width: 100%;
    }
    .home-mid{
        flex-direction: row !important;
        justify-content: center;
        padding-bottom: 2rem;
    }
    .home11 h1{
        text-align: center;
    }
    .home11 p{
        text-align: center;
    }
    .ladder01{
        margin-bottom: 2rem;
    }
    .ladder11{
        bottom: -26px;
    }
    .ladder121{
        flex-direction: column;
    }
    .ld-line{
        height: 76px;
        width: 4px;
    }
    .ld-line img{
        transform: rotate(90deg);
    }
    .fi-card{
        width: 95%;
    }
    .fi-card-img{
        left: 10%;
    }
    .usp012{
        flex-direction: column;
    }
    .usp210{
        width: 80%;
    }
    .usp2101{
        width: 95%;
    }
    .usp211{
        margin: 5rem 0rem;
    }
    .yb11{
        text-align: center;
        height: 45rem;
    }
    .yb111{
        width: 100%;
    }
    .yb12{
        top: 17rem;
        right: 82%;
    }
    .yb122 img{
        width: 32rem;
    }
    .yb121 img{
        width: 29rem;
    }
    .people h1{
        font-size: 45px;
        padding-top: 2rem;
    }
    .people .row{
        flex-direction: column;
    }
    .people-img{
        margin-left: 0;
    }
    .question0{
        flex-direction: column;
    }
    .question11{
        margin-left: 0;
        margin-bottom: 2rem;
        padding-top: 1rem;
    }
    .question01{
        width: 100% !important;
        justify-content: center !important;
    }
    .question12{
        width: 40vmin;
    }
    .foot02{
        flex-direction: column;
    }
    .foot11{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
    .foot11 p{
        margin-bottom: 1rem;
    }
    .foot4{
        top: 145px;
    }
    .inp img{
        right: 35px;
    }
    .foot20{
        align-items: flex-start;
    }
    .course-card-text{
        padding: 0.7rem;
        bottom: -160px;
        left: 9px;
    }
    .splide__arrow{
        top: 45% !important;
    }
    .course-card{
        height: 45vh;
    }
}
@media screen and (max-width:812px) {
    .yb12{
        right: 86%;
    }
    .people h1{
        text-align: center;
    }
    .course-card{
        margin: auto;
        width: 90%;
        height: 50vh;
    }
    .splide__arrow--prev{
        left: -0.5em !important;
    }
    .splide__arrow--next{
        right: -0.5em !important;
    }
    .courses21{
        width: 96%;
    }
    .course-card-text {
        bottom: -110px;
        left: 12px;
    }
    .course0{
        padding: 0rem 2rem;
    }
    .courses211{
        margin-left: 2rem;
    }
    .course-main{
        height: 55vh;
    }
    .course3{
        height: auto;
    }
    .course31{
        flex-direction: column;
    }
    .course311 {
        width: 100%;
        padding: 3rem 0rem;
    }
    .course312{
        width: 100%;
        height: fit-content;
        padding: 4rem 0rem;
        border-bottom-left-radius: 0;
        border-top-right-radius: 54px;
    }
    .btn3{
        font-size: 20px;
    }
}
@media screen and (max-width:760px) {
    .yb12{
        right: 89%;
    }
    .question13 {
        width: 38vmin;
        height: 10rem;
    }
}
@media screen and (max-width:684px) {
    .yb12{
        right: 86%;
        top: 20rem;
    }
    .yb122 img{
        width: 26rem;
        height: 20rem;
    }
    .yb121 img{
        width: 24rem;
        height: 26rem;
    }
    .usp211{
        margin: 4.5rem 0rem;
    }
    .usp12{
        margin-right: 30px;
    }
    .course-card-text {
        bottom: -150px;
        left: 10px;
    }
    .course-card{
        height: 47vh;
    }
}
@media screen and (max-width:604px) {
    .yb12{
        right: 90%;
    }
    .course-card-text {
        bottom: -40px;
        left: 20px;
    }
    .course-card{
        height: 56vh;
    }
}
@media screen and (max-width:555px) {
    .yb12{
        right: 93%;
    }
    .home11 h1{
        font-size: 60px;
    }
    .course311 h1{
        font-size: 35px;
    }
    .btn3{
        font-size: 15px;
    }
}
@media screen and (max-width:515px) {
    .foot11_logo{
        width: 100%;
    }
    .yb12{
        right: 88%;
    }
    .home11 h1{
        font-size: 50px;
    }
    .people h1{
        font-size: 35px;
    }
    .question11 h1{
        font-size: 42px;
    }
    .question11 h3{
        font-size: 30px;
    }
    .question13 {
        width: 44vmin;
        height: 8rem;
    }
    .foot10 h5{
        font-size: 16px !important;
    }
    .foot_a{
        font-size: 14px;
    }
    .inp{
        width: 38vmin;
    }
    .inp input{
        width: 100%;
    }
    .yb122 img {
        width: 21rem;
        height: 15rem;
    }
    .yb121 img {
        width: 18rem;
        height: 21rem;
    }
    .yb11{
        height: 40rem;
    }
    .course-card-text {
        left: 17px;
    }
    .course-card{
        height: 47vh;
    }
}
@media screen and (max-width:460px) {
    .yb11{
        height: 42rem;
    }
    .yb12{
        right: 92%;
        top: 22rem;
    }
    .course-card-text {
        bottom: -60px;
        left: 15px;
    }
    .course-card{
        height: 42vh;
    }
}
@media screen and (max-width: 434px) {
    .yb122 img {
        width: 16rem;
        height: 11rem;
    }
    .yb11{
        height: 38rem;
    }
    .yb12{
        right: 85%;
        top: 22rem;
    }
    .yb121 img {
        width: 14rem;
        height: 15rem;
    }
    .yb121 {
        top: -31px;
        left: 10px;
    }
    .btn{
        padding: 10px 15px;
    }
    .course311 h1{
        font-size: 25px;
    }
    .btn3{
        font-size: 10px;
    }
}
@media screen and (max-width: 380px) {
    .yb12{
        right: 90%;
        top: 24rem;
    }
    .course-card-text {
        bottom: -80px;
        left: 11px;
    }
    .course-card{
        height: 38vh;
    }
}
